* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.some {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: red;
    z-index: 2;
}

.some2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: blue;
}

.hide {
    width: 0;
    height: 0;
    border-radius: 0;
    pointer-events: none;
}

.hidden {
    display: none;
}

.some,
.hide {
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}


